body{
  background: linear-gradient(100deg, #fdc3de, #ff9cc0, #ff9af0,#e38fff );
  background-size: 400% 400%; 
  animation: gradientAnimation 10s ease infinite;
  height: fit-content; 
  margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    scrollbar-color: #fdc3de;
}

li{
    font-size: 20px;

}
dt{
    font-size: 35px;
}
dd{
    font-size: 20px;
}

.navbar {
    background-color: #ff8bc5aa;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(255, 195, 253, 0.4);
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ffe4e1;
  }
  

  html {
    scroll-behavior: smooth;
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }

  }
  ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }

  #usgif {
    position: absolute;
    bottom: 1px;
    font-size: xx-large;
    text-align: justify;
    
  }

  #divider {
    border: 1px solid #fdc3de; 
    height: 2px; 
    background-color: #fdc3de82;
    border-radius: 40px;
  }

  .container1 {
    background-color: #fdc3de55; 
    padding: 20px; 
    border-radius: 40px; 
    margin: 20px auto; 
    border: 3px solid #fdc3de; 
    max-width: 800px;
    
}
.container2 {
  background-color: #fdc3de55; 
  padding: 20px; 
  border-radius: 40px; 
  margin: 20px auto; 
  border: 3px solid #fdc3de; 
  max-width: 1200px;
}
.container3 {
  background-color: #fdc3de55; 
  padding: 20px; 
  border-radius: 40px; 
  margin: 20px auto; 
  border: 3px solid #fdc3de; 
  max-width: 1500px;
}
#reasonsapperance, #paragraphsmeow {
  text-align: center;
}
button{
  border-radius: 30px;
  color: #fce4ff;
  background-color:#ff9fcc;
  border-color: #fdc3de;
}
::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #fdc3de; 
}

::-webkit-scrollbar-thumb {
  background: #ff94d2; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ffadd3; 
}